@page "/logout"
@using BillIssue.Web.Services

@inject AccountService accountService
@inject NavigationManager NavigationManager

<h3>Logout</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await base.OnInitializedAsync();
            await accountService.Logout();
            NavigationManager.NavigateTo("login");
        }
    }
}