.client-container {
  margin: 5px;
  border: 1px solid #6e6e6e11;
  border-radius: 5px;
}

.client-data-row .client-name {
  padding-top: 10px;
}

.client-data-row .client-buttons {
  margin: 0 0 0 2.5rem;
  padding: 5px;
}