.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.remind-password-container {
  padding: 2rem;
  border-radius: .375rem;
  background-color: #FFF;
  width: 300px;
}

.remind-password-button {
  width: 100%;
}

.remind-password-header-text {
  font-style: italic;
  font-size: .85rem;
}