.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.outlet-container {
  position: relative;
  flex: 1;
  background-color: rgb(242, 244, 245);
  flex-direction: row;
}

.outlet {
  width: 100%;
}

.sidebar-container {
  display: flex;
  background-color: rgb(17 24 39);
}